<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

{% if user.is_authenticated %}
Bienvenido {{ user.username }} - <a class="sign-out" href="{% url 'account_logout' %}">Cerrar sesion</a>
{% else %}
<a class="sign-in" href="{% url 'account_login' %}">Ingresar</a>
{% endif %}

{% for room in rooms.all %}
    <p><a class="room" href="{% url 'room' room_name=room.name %}">{{ room.name }}</a></p>
{% endfor %}
</body>
</html>
