{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}


{% block content %}

<style>
    .card-body {
        border: 1px solid rgb(121, 121, 121);
        border-radius:5px;
    }
    .author-panel{
        background: #f2f2f2;
        padding: 25px;
        border-radius: 25px;
    }
</style>

<br>
<div class="row  justify-content-md-center">

    <div class="col-md-4 author-panel gx-5">
            <img class="avatar rounded card-img-top" src="{{profile.avatar.url}}" alt="avatar">


            <h3><p style="font-family: 'Merriweather', serif;">{{profile.username}}</h3>
            <div> 

                <p style="font-family: 'Merriweather', serif;"><i class="fas fa-user"></i> Sobre Mí: {{profile.bio}}</p>
                {% if profile.discord %}
                <p style="font-family: 'Merriweather', serif;"><i class="fab fa-discord"></i> Discord: {{profile.discord}}</p>
                {% endif %}
                {% if room %}
                <span class="connected"></span> Usuario conectado a sala <a href="{% url 'room' room_id=room.id %}"><b>{{ room.name }}.</b></a>
                {% else %}
                <span class="disconnected"></span> Usuario esta desconectado.</b>
                {% endif %}
            </div>

        </div>
    
</div>
    


      

</div>








{% endblock content %}
